@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #020617;
    background-image:
        linear-gradient(to bottom, rgba(2, 6, 23, 0.5), rgba(2, 6, 23, 0.7)),
        url('/background.png');

    background-attachment: fixed;
    background-repeat: no-repeat;

    color: #e2e8f0;

}

.skip-link {
    position: absolute;
    top: -50px;
    left: 1rem;
    background: #4f46e5;
    color: white;
    padding: 0.75rem 1.5rem;
    z-index: 100;
    transition: top 0.2s;
    font-weight: bold;
    border-radius: 0 0 0.5rem 0.5rem;
}
.skip-link:focus {
    top: 0;
    outline: 2px solid white;
    outline-offset: -2px;
}